@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#content {
    min-height: 100vh;
    text-align: center;
    display: grid;
    grid-template-areas:
        'header'
        'main';
}

.header {
    grid-area: header;
    background-image: url('../img/bgImg.jpg');
    background-size: cover;
    height: 40vh;
}

.main-content {
    grid-area: main;
    height: 60vh;
}

.tab-buttons {
    background-color: burlywood;
}

.tab-button {
    cursor: pointer;
    border: none;
    padding: 10px;
}

.tab-content {
    display: none;
}

.active {
    background-color: grey;
}