* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    height: 100vh;
}

.tab-buttons {
    cursor: pointer;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}