@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url('../img/bgImg.jpg');
    background-size: cover;
}

#content {
    height: 100vh;
    text-align: center;
}

.tab-button {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: brown;
    color: white;
}

.tab-content {
    display: none;
}

.active {
    background-color: grey;
    color: white;
}